<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />


<img src="/images/velez.jpg">

<article>
    <h1>CONTACTS</h1>

    <div class="container">
        <div class="text_wrapper">
            <h2>Where We Are</h2>
        </div>
        <div id='map'></div>
    </div>

    <div class="container">
        <div class="text_wrapper">
            <h2>Contact Us</h2>
            <br>
            <form>
                Name
                <input class="input" type="text" name="name" required>
                Phone
                <input class="input"  type="text" name="phone" required>
                Email
                <input class="input"  type="text" name="email" required>
                Subject
                <input class="input"  type="text" name="subject" required>
                Message
                <textarea name="message" rows="8" maxlength="65535" required></textarea>

                <div id="consent">
                    <input type="checkbox" id="consent" name="consent" value="consent" required>
                    <label for="consent" id="consent_label">Privacy policy consent label</label>
                </div>

                <!-- <input type="hidden" id="language" name="language"> -->

                <button class="button" type="submit">Send</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="text_wrapper">
            <h2>Email</h2>
            <p>formulastudent@isel.pt</p>
        </div>
    </div>

</article>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaXNlbGZzIiwiYSI6ImNrcTJ1aHdhcjBmYWEydWthNTBjOG1ob3AifQ.zVNe8iCDYzIyxv-dH3lGTQ';
    
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-9.117035, 38.755914],
        zoom: 13.3
    });

    map.addControl(new mapboxgl.NavigationControl());
    map.scrollZoom.disable();

    var popup = new mapboxgl.Popup({ closeOnClick: false })
        .setLngLat([-9.117035, 38.755914])
        .setHTML("<h2>ISEL Formula Student</h2><p>Rua Conselheiro Emídio Navarro Nº1, ADEM M0.32<br>1959-007 Lisboa</p>")
        .addTo(map);
</script>