<div id="header">
    <img class="logo" src="/logos/ifs_logo_dark.svg">
    
    <div id="header_menu">
        <a href="/en/about_us"><span>ABOUT US</span></a>
        <a href="/en/news"><span>NEWS</span></a>
        <a href="/en/sponsors"><span>SPONSORS</span></a>
        <a href="/en/contacts"><span>CONTACTS</span></a>
    </div>

    <div id="header_language">
        <a href="#" title="Português">
            <img src="/icons/pt.svg">
        </a>
    </div>
</div>
    
<img class="big" src="/images/ifs02_2.jpg">

<article>
    <h1>HIGH PERFORMANCE<br>100% ELECTRIC</h1>

    <div class="container">
        <div class="text_wrapper">
            <h2>We make high performance racing cars.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo illum nemo fuga, sequi nam veniam rem et, exercitationem animi soluta reiciendis, at fugit praesentium!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo illum nemo fuga, sequi nam veniam rem et, exercitationem animi soluta reiciendis, at fugit praesentium!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo illum nemo fuga, sequi nam veniam rem et, exercitationem animi soluta reiciendis, at fugit praesentium!</p>
        </div>
    </div>

    <div class="container dual left">
        <div class="text_wrapper">
            <div>
                <h2>We make high performance racing cars.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo illum nemo fuga, sequi nam veniam rem et, exercitationem animi soluta reiciendis, at fugit praesentium!</p>
            </div>
        </div>
        <div class="image_wrapper">
            <img src="/images/ifs02_1.jpg">
        </div>
    </div>
</article>

<div class="sponsors">
    <img class="isel" src="/logos/isel.svg">
    <img class="ipl" src="/logos/ipl.svg">
</div>

<script>
    document.getElementById("navbar").style.top = "-4em"
    
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
        if (document.body.clientWidth > 750) {
            if (document.body.scrollTop > 180 || document.documentElement.scrollTop > 180) {
                document.getElementById("navbar").style.top = "0"
            } else {
                document.getElementById("navbar").style.top = "-4em"
            }
        }
    }
</script>