<img src="/images/ifs02_2.jpg">

<article>
    <h1>SPONSORS</h1>

    <!-- Sponsor grid -->
    <div id="sponsor_grid">
        <div class="sponsors platinum">
            <div>
                <img src="/sponsor_logos/arsenal_do_alfeite.svg">
                <img src="/sponsor_logos/berner.svg">
            </div>
            <div>
                <img src="/sponsor_logos/grupo_metal.svg">
                <img src="/sponsor_logos/ipl.svg">
            </div>
        </div>

        <div class="separator"></div>

        <div class="sponsors gold">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="separator"></div>

        <div class="sponsors silver">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="separator"></div>

        <div class="sponsors bronze">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
</article>