@import "tailwindcss";

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/open_sans/OpenSans-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/open_sans/OpenSans-Bold.ttf);
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/open_sans/OpenSans-ExtraBold.ttf);
  font-display: swap;
  font-weight: 900;
}

/* Montserrat font */
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/montserrat/Montserrat-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/montserrat/Montserrat-Bold.ttf);
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/montserrat/Montserrat-ExtraBold.ttf);
  font-display: swap;
  font-weight: 900;
}

/* header */

#navbar{
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  padding: 0 7vw;
}
.bodier{
  min-height:1500px;
  /* max-width: 120em; */
}
footer{
  padding-left: 7vw;
  padding-right: 7vw;
  font-family: "Montserrat", sans-serif;
  
}
#footer-links{
  font-size: 20px;
}
.contentBlocks{
  font-family: "Montserrat", sans-serif;
  max-width: 120em;
  margin: 2em auto;
  padding: 0 7vw;

}
body{
  font-family: "Montserrat", sans-serif;

}
/* car page */
.caracteristic{
  @apply flex flex-col ;
}
.caracteristic div{
  @apply flex items-center my-5
}
.caracteristic div div{
  @apply text-[1.4em] mr-8 font-semibold max-w-[10em]
}
.caracteristic.right div div{
  @apply mr-0 ml-8
}
.caracteristic div img{
  @apply h-[4em] w-[4em] dark:invert
}

@media (max-width:1967px) {
  .contentBlocks{
    max-width: 120em;
    margin: 1em 10vw;

  }
}
@media (max-width:1200px) {
  .contentBlocks{
    max-width: 90%;
    margin: 1em 6vw;

  }
}
@media (max-width:750px) {
  header{display: none;}
/*   #Interested{font-size: 2.5em; width: auto;}
 */  #sponsors{font-size: 2.5em; text-align: center;}
}